{% extends 'myapp/base.html' %}

{% load static %}
{% load mathfilters %}
{% block content %}
<div class="wrapper">
<h3>{{msg}}</h3>
<h2>List of buses</h2>
{% comment %} <a type="submit" class="btn btn-primary float-left" href="{% url 'seebookings'%}"> Show Next bookings</a> {% endcomment %}
<table class=" op table table-striped table-hover">
    <thead>
    <td>USER&nbspNAME</td>
    <td>BUS&nbspNAME</td>
    <td>SOURCE</td>
    <td>DESTINATION</td>
    <td>NUM&nbspOF&nbspSEATS</td>
    {% comment %} <td>PRICE</td> {% endcomment %}
    <td>DATE</td>
    <td>TIME</td>
    <td>STATUS</td>
    


    </thead>
    
    {% for row in book_list %}
    {% comment %} {% if row.date >= today %} {% endcomment %}
    <tr class='fade-in-up'>
        
        <td>{{row.name}}</td>
        <td>{{row.bus_name}}</td>
        <td>{{row.source}}</td>
        <td>{{row.dest}}</td>
        <td>{{row.nos}}</td>
        {% comment %} <td>{{row.price|mul:row.nos}}</td> {% endcomment %}
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>
        <td>{{row.status}}</td>
       
    </tr>
    {% comment %} {% endif %} {% endcomment %}
    {% endfor %}
</table>
{{error}}
<script>
var new_date=document.getElementById('demo');
console.log(new_date);
var date= new Date();
console.log(date);
</script>

{% endblock content %}

