{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
{% comment %} <body style='background:url({% static 'images/bus1.JPG' %}) no-repeat fixed;background-size: 100% 100%;'> {% endcomment %}
<h3>Enter new password</h3>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<form method="post">

	{% csrf_token %}
	{% comment %} {{form}} {% endcomment %}
	<div class='container'>
	<div class='row'><div class='col-md-3'></div><div class='col-md-6'><div class='row'><div class='col-md-4'>new password</div><div class='col-md-3'>{{form.new_password1}}</div></div></div><div class='col-md-2'></div></div>
	<div class='row'><div class='col-md-3'></div><div class='col-md-6'><div class='row'><div class='col-md-4'>confirm new password</div><div class='col-md-3'>{{form.new_password2}}</div></div></div><div class='col-md-2'></div></div>
	</div>
	<br>
	<div style='color:red;'>
	{{form.errors}}
	</div>
	<input type="Submit" name="Update Password">
	
</form>
</body>
{%endblock%}